// Custom styles.
.headband {
    height: 3px;
    background: #49b1f5;
}
.site-meta {
    padding: 20px 0;
    color: #fff;
    background: #49b1f5;
}
.site-subtitle {
    margin-top: 10px;
    font-size: 13px;
    color: #ffffff;
}

