// Custom styles.
.headband {
    height: 3px;
    background:#ff8082;
}
.site-meta {
    padding: 20px 0;
    color: white;
    background: #ff8082;
}
.site-subtitle {
    color: white;
}
//code
code {
    color: #ff6666;
    background: #fbf7f8;
    margin: 2px;
}
// 边框的自定义样式
.highlight, pre {
    margin: 5px 0;
    padding: 5px;
    border-radius: 3px;
}
.highlight, code, pre {
    border: 1px solid #d6d6d6;
}

body{
    background:url(/images/bg.jpg);
    //background-size:cover;
    background-repeat:repeat;
    background-attachment:fixed;
    background-position:center;
}

